<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="lotei-dev">

                <ng-lottie [options]="options"></ng-lottie>
            </div>
        </div>
        <div class="col-md-6">
            <form [formGroup]="LoginForm">
                <div class="form-group">
                    <div class='input-container'>
                        <input type='text' id='name' formControlName='name' autocomplete='off' required='required' />
                        <label class='label-name' for='name'>
              <span class='content-name'>Username</span>
            </label>
                    </div>
                    <span class='err_massage' *ngIf='LoginForm.controls.name.invalid && (LoginForm.controls.name.dirty || LoginForm.controls.name.touched)'>
            invalid Phone number
          </span>
                </div>
                <div class="form-group">
                    <div class='input-container'>
                        <input type='email' id='name' formControlName='email' required='required' />
                        <label class='label-name' for='name'>
              <span class='content-name'>Email</span>
            </label>
                    </div>
                    <span class='err_massage' *ngIf='LoginForm.controls.email.invalid && (LoginForm.controls.email.dirty || LoginForm.controls.email.touched)'>
            invalid Email
          </span>
                </div>
                <div class="form-group">
                    <div class='input-container'>
                        <input type='text' id='name' formControlName='phone' autocomplete='off' required='required' />
                        <label class='label-name' for='name'>
              <span class='content-name'>Phone number</span>
            </label>
                    </div>
                    <span class='err_massage' *ngIf='LoginForm.controls.phone.invalid && (LoginForm.controls.phone.dirty || LoginForm.controls.phone.touched)'>
            invalid Email
          </span>
                </div>
                <button style='cursor: pointer' type='submit' [disabled]='LoginForm.invalid' (click)='submit()'>submit</button>
            </form>
        </div>
    </div>

</div>
